$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*-------------------------------*/
/*            Custom CSS         */
/*-------------------------------*/

/* @group general style */
html, body {
  margin: 0;
  padding: 0;
}
.infowindow-text-center {
  text-align: center;
}

.text-spacing {
  letter-spacing: 0.8em;
}

.poiret-font{
  font-family: 'Poiret One', cursive;
  color: white;
}

.v-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.transparent {
  background: transparent;
}

.gray {
  color: gray !important;
}

#night-text {
  font-size: 55px;
  font-weight: bolder;
}

/* @group hero images */
.hero {
  height:100vh;
  width:100vw;
  background:
  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('http://i.imgur.com/hbS4uc6.jpg');
    background-position: center;
  background-size: cover;
  overflow: hidden;
}

#about-section {
  height: 100vh;
  width: 100vw;
  background:
  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('http://i.imgur.com/PGMbOVJ.jpg');
    background-position: center;
  background-size: cover;
}

#instructions p{
    font-size: 1.2em;
}
#hero-tag {
  display: block;
}

#hero-phrase {
  font-size: 50px;
  font-weight: lighter;
}

/* @group Button CSS overrides Bootstraps*/
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-color: white;
}

.btn.outline {
    border: 0 none;
    background: transparent;
    padding: 12px 22px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none !important;
    background: transparent !important;
    border-color: white;
}

.btn:hover, .btn-primary:hover {
    font-weight: bolder !important;
    background: transparent !important;
    border-color: white !important;
}

.btn-primary.outline {
    background: transparent;
}

/*@map styles the map*/
#map {
  position: absolute;
  height: 100%;
  width: 100%;
}

#map-padding { // ensures map takes up entire page width, overrides bootstrap
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/*@group List view*/
#placeList {
  position: absolute;
  top: 25%;
  height: 50%;
  width: 25%;
  overflow-y: auto;
  font-size: 1.5em;
  padding: 0;
}

#placeList li {
  list-style-type: none;
  background:rgba(255,255,255,0.8);
  padding: 10px 0;
  margin: 10px 10px auto;
  text-align: center;
  border-style: solid;
  border-width: 0.2em;
  border-color: black;
}

.venue-name:hover{
  font-weight: bold;
}

/*@group Directions Container */
#directions-container {
    background: rgba(255,255,255,0.8) !important;
    height: 50%;
    width: 25%;
    font-size: 1.2em;
    text-align: center;
    margin: 10px 10px auto;
    border-style: solid;
    border-width: 0.2em;
    border-color: black;
    overflow: auto;
}

#directions-container li {
    text-align: center;
    list-style-type: upper-alpha;
    font-weight: bolder;
    font-size: 1.2em;
}

/*-------------------------------*/
/* Google Maps Direction Panel   */
/*-------------------------------*/
/*@group provided CSS*/
#panel {
  position: absolute;
  top: 10px;
  left: 25%;
  background-color: rgba(255,255,255,0.8) !important;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
}

/**
 * Provide the following styles for both ID and class, where ID represents an
 * actual existing "panel" with JS bound to its name, and the class is just
 * non-map content that may already have a different ID with JS bound to its
 * name.
 */

#panel, .panel {
  font-family: 'Roboto','sans-serif';
  background-color: rgba(255,255,255,0.3) !important;
  line-height: 30px;
}

#panel select, #panel input, .panel select, .panel input {
  font-size: 1.2em;
}

#panel select, .panel select {
  width: 100%;
}

#panel i, .panel i {
  font-size: 1.2em;
}
/* END PANEL CSS */

.navbar-default, .navbar-collapse, .navbar-default, .navbar-form {
  background: rgba(231, 231, 231, 0.7) !important;
  border-bottom: 1px solid black;
  margin-bottom: 0;
}


/* For Smaller Devices */
@media only screen
and (min-width: 300px)
and (max-width: 750px)
and (orientation: portrait) {

  // .gm-style-iw { // this will make an increasingly long infowindow on each click. I also get b.setCapture is not a function
  //   height: 100% !important;
  //   overflow: auto !important;
  //   width: auto !important;
  // }

  #directions-container {
    visibility: hidden;
    //width: 50%; // these height/width values seem to be affecting the infowindows
  }

  #placeList {
    visibility: hidden;
    //height: 50%;
    //width: 50%;
    overflow-y: auto;
    font-size: 1.5em;
    padding: 0;
  }

  #about-section #instructions p {
    font-size: 0.7em;
  }
}

@media only screen
and (min-device-width: 300px)
and (max-device-width: 750px)
and (orientation: landscape) {
  // #map {
  //   max-width: none;
  // }

  // .gm-style-iw{
  //   height: 100% !important;
  //   overflow: hidden !important;
  //   width: auto !important;
  // }

  #directions-container {
    visibility: hidden;
  }

  #placeList {
    visibility: hidden;
  }

  #about-section #instructions p {
    font-size: 0.7em;
  }
}